/* Index style*/

* {
    margin: 0.2em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#list {
  display: flex;
  list-style: none;
}

li {
  flex: 1;
  padding: 10px;
  text-align: center;
  margin: 0 5px 0 5px;
}

nav a:visited,
nav a:link {
  color: black;
  text-decoration: none;
}

header{
    margin-bottom: 5em;
}

#empty {
  flex: 8;
}

.btn {
    background-color: #eee;
    padding: 10px;
    border-style: none;
    border-radius: 3px;
}

.box {
    height:44px;
    border-radius: 24px;
    border: 1px solid lightgray;
    width: 40%;
}

.container{
    height: 44px;
    border: 1px solid lightgray;
}

.logo{
  color:#4285f4;
  font-size: 16px;
  font-family: roboto-regular, arial, sans-serif;
  line-height: 16px;
  position: absolute;
  /* left:215px; */
  /* bottom: 0; */
  /* white-space: nowrap; */
}

.out0{
  margin:0 auto;
  padding-top: 6px;
  width:auto;
  max-width: 548px;
  position: relative;
}

.out1 {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow:none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
}

.out2 {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}